<%= form_with url: users_path, method: :post do |form| %>
    <%= turbo_frame_tag "step2" do %>
        <span>Enter Address Information</span>
        <%= form.hidden_field :name, value: name %>
        <%= form.hidden_field :email, value: email %>
        <div>
            <%= form.label :street, style: "display: block" %>
            <%= form.text_field :street %>
        </div>

        <div>
            <%= form.label :city, style: "display: block" %>
            <%= form.text_field :city %>
        </div>

        <div>
            <%= form.label :state, style: "display: block" %>
            <%= form.text_field :state %>
        </div>

        <div>
            <%= form.submit %>
        </div>
    <% end %>

<% end %>